/* Home page - front multimedia */

.front-multimedia {
    padding: 40px 0 20px;
}

.front-multimedia-grid-wrapper img,
.front-multimedia-sub-page  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 20%;
}

.front-multimedia-grid-wrapper,
.front-multimedia-sub-page {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(0, 280px) minmax(0, 280px) minmax(0, 280px) minmax(0, 280px) minmax(0, 140px) minmax(0, 280px);
    gap: 20px;
    overflow: hidden;
}

.front-multimedia-item-3 {
    grid-row: 6/7;    
    font-size: 12px;
}

.front-multimedia-grid-wrapper a,
.front-multimedia-sub-page a {
    height: 100%;
    width: 100%;
}



@media (min-width: 440px) {
    .front-multimedia-home-page {
        padding: 40px 25px 20px;
    }

    .front-multimedia-grid-wrapper img,
    .front-multimedia-sub-page  img {
        object-position: 50% 50%;
    } 

    .front-multimedia-item-3,
    .front-multimedia-item-5,
    .front-multimedia-item-6,
    .front-multimedia-item-8,
    .front-multimedia-item-10,
    .front-multimedia-item-12,
    .front-multimedia-item-13 {
        padding-right: 20px;
    }

    .front-multimedia-grid-wrapper,
    .front-multimedia-sub-page  {
        grid-template-columns: calc(50% - 10px) calc(50% + 10px);
        grid-template-rows: repeat(5, minmax(0, 190px));
    }

    .front-multimedia-item-2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .front-multimedia-item-3 {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .front-multimedia-item-4 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .front-multimedia-item-5 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .front-multimedia-item-6 {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    .front-multimedia-item-13 {
        grid-column: 1/3
    }
}

@media (min-width: 750px) {
    .front-multimedia-item-3,
    .front-multimedia-item-5,
    .front-multimedia-item-6,
    .front-multimedia-item-8,
    .front-multimedia-item-10,
    .front-multimedia-item-12,
    .front-multimedia-item-13 {
        padding-right: 0;
    }   

    .front-multimedia-grid-wrapper,
    .front-multimedia-sub-page  {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, minmax(0, 190px));
    }

    .front-multimedia-item-2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .front-multimedia-item-3 {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .front-multimedia-item-4 {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .front-multimedia-item-5 {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .front-multimedia-item-6 {
        grid-column: 1/3;
        grid-row: 3/4;
    }
}

@media (min-width: 1024px) {
    .front-multimedia-grid-wrapper,
    .front-multimedia-sub-page  {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
      }
    
    .front-multimedia-item-5 {
        grid-column: 4/5;
        grid-row: 1/2;
    }
    
    .front-multimedia-item-6 {
        grid-column: 3/5;
        grid-row: 2/3;
    }

    .front-multimedia-item-13 {
        grid-column: 3/5
    }
}
/* Home page - End of front multimedia */

/* front-multimedia videos */

.front-multimedia-videos-nav,
.front-multimedia-images-nav {
    display: grid;
    grid-template-columns: calc(100% - 6px);
    grid-template-rows: auto;
    gap: 10px;
} 

.front-multimedia-videos-nav img,
.front-multimedia-images-nav img {
    width: 100%;
}

.front-multimedia-videos-nav-block,
.front-multimedia-images-nav-block {
    overflow: hidden;
}

@media (min-width: 576px) {
    .front-multimedia-videos-nav,
    .front-multimedia-images-nav {
        grid-template-columns: repeat(2, calc(50% - 6px));
    } 
}

@media (min-width: 768px) {
    .front-multimedia-videos-nav,
    .front-multimedia-images-nav {
        grid-template-columns: repeat(3, calc(33.3% - 6px));
    } 
}

@media (min-width: 1200px) {
    .front-multimedia-videos-nav,
    .front-multimedia-photoes-nav {
        gap: 20px;
    } 
}
/* End of front multimedia videos */
.latesst-statment {
    display: grid;
    grid-template-columns: auto;
    grid-row: auto;
    column-gap: 10px;
    overflow: hidden;
}

.latesst-statment .slide {
  justify-self: center;
}

@media (min-width: 576px) {
    .latesst-statment {
        grid-template-columns: 50% 50%;
    }
}

@media (min-width: 768px) {
    .latesst-statment {
        grid-template-columns: repeat(3, calc(100%/3));
    }
}

@media (min-width: 992px) {
    .latesst-statment {
        grid-template-columns: repeat(4, 25%);
    }
}
/* Start of latest-statement */


/* End of latest-statement */

.news-listing,
.statements-listing,
.tolerance-video-nav,
.blog-row {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 10px;
    justify-content: center;
    overflow: hidden;
} 

.title {
    text-align: center;
}

@media (min-width: 510px) {
    .blog-row .pub-item img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .news-listing,
    .statements-listing,
    .tolerance-video-nav,
    .blog-row {
        grid-template-columns: repeat(2, 50%);
    }
}


@media (min-width: 760px) {
    .title {
        text-align: left;
    }

    .news-listing,
    .statements-listing,
    .tolerance-video-nav,
    .blog-row {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 990px) {
    .news-listing,
    .statements-listing,
    .tolerance-video-nav,
    .blog-row {
        grid-template-columns: repeat(4, 1fr);
    }
} 

@media (min-width: 1070px) {
    .blog-row {
        row-gap: 20px;
    }
}

@media (min-width: 1200px) {

    .tolerance-video-nav {
        gap: 20px;
    }
}